<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All users from "user" Table.</h1>
    <br>
    <table border="1">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
        </tr>
       <% for(user of users){ %>
        <tr>
            <td><%=user.id%></td>
            <td><%=user.username%></td>
            <td><%=user.email%></td>
            <td>
                <form method="get" action="/user/<%=user.id%>/edit">

                    <button class="btn" >Edit username</button>
                </form>
            </td>
            <td>
                <form method="post" action="/user/<%=user.id%>?_method=DELETE">
                    <button class="btn">Delete user</button>
                </form>
            </td>
        </tr>
  
   <% }%>
        
    </table>
    <br>
    <form method="GET" action="/user/new">
        <button class="btn" >Insert new user</button>
    </form>
</body>
</html>